*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Layout classes*/

body{
    font-family: Arial, sans-serif;
}

.container{
    width: 1200px;
    margin: 0 auto;
}

.row{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.col33-around{
    width: calc(100% / 3);
    color: white;
    display: flex;
    justify-content: space-around;
    margin-top: 35px;
}

.col33{
    width: calc(100% / 3);
    color: white;
    padding:15px;
}

.col33-special{
    width: calc(100% / 3);
    color: white;
    display: flex;
    justify-content: space-around;
}

.aside{
    display: flex;
}

/*utility classes*/

ul{
    list-style: none;
    display: flex;
}

.logo{
    width: 100px;
    height: 25px;
}

.content{
    position: relative;
}

.iconbox{
    text-align: end;
}

.mr10{
    margin-right: 10px;
}

.mup5{
    margin-top: 5px;
}

.t-center{
    text-align: center;
}

img{
    height: 500px;
    position: relative;
}

.absolute{
    position: absolute;
    left: 0;
    bottom:50px
}


/*styling classes*/

.bg-orange{
    background-color: rgb(255, 94, 0);
}

.lable{
    padding: 5px;
}

.red{
    background-color: red;
    width: 50px;
    margin-right: 5px;
}

.green{
    background-color: green;
    width: 105px;
    font-weight: bold;
}
